<app-recent-properties></app-recent-properties>

<!-- Services section -->
<section class="services-section spad set-bg ourServicesBackgroundImg"  >
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../assets/img/service.jpg" alt="">
      </div>
      <div class="col-lg-5 offset-lg-1 pl-lg-0">
        <div class="section-title text-white">
          <h3>OUR SERVICES</h3>
          <p>We provide the perfect service for </p>
        </div>
        <div class="services">
          <div class="service-item">
            <i class="fa fa-comments"></i>
            <div class="service-text">
              <h5>Consultant Service</h5>
              <p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
            </div>
          </div>
          <div class="service-item">
            <i class="fa fa-home"></i>
            <div class="service-text">
              <h5>Properties Management</h5>
              <p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
            </div>
          </div>
          <div class="service-item">
            <i class="fa fa-briefcase"></i>
            <div class="service-text">
              <h5>Renting and Selling</h5>
              <p>In Aenean purus, pretium sito amet sapien denim consectet sed urna placerat sodales magna leo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end -->

<app-featured-listings></app-featured-listings>

<!-- feature category section -->
<section class="feature-category-section spad">
  <div class="container">
    <div class="section-title text-center">
      <h3>LOOKING PROPERTY</h3>
      <p>What kind of property are you looking for? We will help you</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 f-cata">
        <img src="../../assets/img/feature-cate/1.jpg" alt="">
        <h5>Apartment for rent</h5>
      </div>
      <div class="col-lg-3 col-md-6 f-cata">
        <img src="../../assets/img/feature-cate/2.jpg" alt="">
        <h5>Family Home</h5>
      </div>
      <div class="col-lg-3 col-md-6 f-cata">
        <img src="../../assets/img/feature-cate/3.jpg" alt="">
        <h5>Resort Villas</h5>
      </div>
      <div class="col-lg-3 col-md-6 f-cata">
        <img src="../../assets/img/feature-cate/4.jpg" alt="">
        <h5>Office Building</h5>
      </div>
    </div>
  </div>
</section>
<!-- feature category section end-->

